<div class="overview">
  <h1 class="title">President</h1>
      <img class="line" [src]="line" alt="">
      <button class="btn-refresh" mat-raised-button>+</button>
</div>

<div class="grid">

  <div class="card">
    <img src="assets/simon.jpg" alt="Avatar" style="width: 100%">
    <div class="container">
      <h4><b>Simon</b></h4> 
      <mat-divider
      ></mat-divider>
      <p><b>POSITION:</b>President</p> 
      <p><b>PARTYLIST:</b>PRGC</p> 
    </div>
  </div>

</div>

<div class="grid">

  <div class="card">
    <img src="assets/simon.jpg" alt="Avatar" style="width: 100%">
    <div class="container">
      <h4><b>Simon</b></h4> 
      <mat-divider
      ></mat-divider>
      <p><b>POSITION:</b>President</p> 
      <p><b>PARTYLIST:</b>PRGC</p> 
    </div>
  </div>

</div>

<div class="grid">

  <div class="card">
    <img src="assets/simon.jpg" alt="Avatar" style="width: 100%">
    <div class="container">
      <h4><b>Simon</b></h4> 
      <mat-divider
      ></mat-divider>
      <p><b>POSITION:</b>President</p> 
      <p><b>PARTYLIST:</b>PRGC</p> 
    </div>
  </div>

</div>

<div class="grid">

  <div class="card">
    <img src="assets/simon.jpg" alt="Avatar" style="width: 100%">
    <div class="container">
      <h4><b>Simon</b></h4> 
      <mat-divider
      ></mat-divider>
      <p><b>POSITION:</b>President</p> 
      <p><b>PARTYLIST:</b>PRGC</p> 
    </div>
  </div>

</div>

<div class="overview">
  <h1 class="title">Vice President</h1>
      <img class="line" [src]="line" alt="">
      <button class="btn-refresh" mat-raised-button>+</button>
</div>

<div class="grid">

  <div class="card">
    <img src="assets/simon.jpg" alt="Avatar" style="width: 100%">
    <div class="container">
      <h4><b>Simon</b></h4> 
      <mat-divider
      ></mat-divider>
      <p><b>POSITION:</b>President</p> 
      <p><b>PARTYLIST:</b>PRGC</p> 
    </div>
  </div>

</div>

<div class="grid">

  <div class="card">
    <img src="assets/simon.jpg" alt="Avatar" style="width: 100%">
    <div class="container">
      <h4><b>Simon</b></h4> 
      <mat-divider
      ></mat-divider>
      <p><b>POSITION:</b>President</p> 
      <p><b>PARTYLIST:</b>PRGC</p> 
    </div>
  </div>

</div>

<div class="grid">

  <div class="card">
    <img src="assets/simon.jpg" alt="Avatar" style="width: 100%">
    <div class="container">
      <h4><b>Simon</b></h4> 
      <mat-divider
      ></mat-divider>
      <p><b>POSITION:</b>President</p> 
      <p><b>PARTYLIST:</b>PRGC</p> 
    </div>
  </div>

</div>

<div class="grid">

  <div class="card">
    <img src="assets/simon.jpg" alt="Avatar" style="width: 100%">
    <div class="container">
      <h4><b>Simon</b></h4> 
      <mat-divider
      ></mat-divider>
      <p><b>POSITION:</b>President</p> 
      <p><b>PARTYLIST:</b>PRGC</p> 
    </div>
  </div>

</div>