<div class="overview">
    <img class="icon" [src]="icon" alt="">
    <h1 class="title">Overview</h1>
        <img class="line" [src]="line" alt="">
        <button class="btn-refresh" mat-raised-button>Refresh</button>
</div>
   
<div class="container-large">
    <div class="container">
        <div class="icon-1">
            <img class="icon-person" [src]="icon1" alt="">
        </div>
        <div class="div-1">
            <h1>1,973</h1>
            <p>TOTAL VOTERS</p>
        </div>
    </div>
    <div style="background: #2DA71F;"class="container">
        <div class="icon-1">
            <img class="icon-person" [src]="icon1" alt="">
        </div>
        <div class="div-1">
            <h1>1,245</h1>
            <p>VOTED</p>
        </div>
    </div>
    <div style="background: #B92726;" class="container">
        <div class="icon-1">
            <img class="icon-person" [src]="icon1" alt="">
        </div>
        <div class="div-1">
            <h1>728</h1>
            <p>HAVEN'T VOTED</p>
        </div>
    </div>
            
</div>

